<!--
    Student Name: Sabijon Reyes
    ID: 301224021
    Date: OCT 1, 2023
-->
<footer>
    <nav class="navbar fixed-bottom navbar-white bg-grey">
        <div class="navbar-brand mx-auto">
        <p id="copyright">All rights reserved Sachi Sabijon Reyes - STUDENT ID: 301 266 968 - Lab #1</p>
        </div>
    </nav>
</footer>