<!--
    Student Name: Sabijon Reyes
    ID: 301224021
    Date: OCT 1, 2023
-->
<script src="/jquery/dist/jquery.min.js"></script>


    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>