<!--
    File name: index.ejs
    Student Name: Sabijon Reyes
    ID: 301266968
    Date: Oct 02, 2023
-->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class=”container”>
    <link rel="stylesheet" href="/stylesheet/style.css"/>
    <div class=”jumbotron”>
        <h1 class=”display-4”>Welcome to My Personal Website</h1>
        <p>Thank you for visiting! Explore and learn more about me and what I learn from my course.</p>
        <h2>Quotes I live by</h2>
        <p>"You must be the change you wish to see in the world." -Mahatma Gandhi</p>
        <p>"Do one thing every day that scares you." -Eleanor Roosevelt</p>
        <p> "Do not go where the path may lead, go instead where there is no path and leave a trail." -Ralph Waldo Emerson</p>
        
        <a href="/contact">| Click here to leave me message |</a>
    </div>
</main>
  
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
    

